.cardWrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.cardItem {
  display: flex;
  flex: 1;
  background-color: aliceblue;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px 3px aliceblue;
}

.cardItem>div {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.pageWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0 30rem 0;
}

h3 {
  font-size: 4rem;
  color: aliceblue;
}

.hidden {
  display: none !important;
}

label.cardItem {
  cursor: pointer;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}

label.cardItem:hover {
  opacity: .7;
}