.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 3px aliceblue;
  overflow-y: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.avatar {
  background-color: #4a148c !important;
  margin: 4px;
}

.form {
  width: '100%';
  margin-top: 1rem;
}

.submit {
  margin-top: 1rem !important;
}